<h1>Login</h1>

<form action="/account/login" method="post">
  <input type="text" name="email" placeholder="Enter your email address">
  <input type="password" name="password" placeholder="Enter your password">
  <input type="submit" value="Sign in">
</form>
